<footer id="footer" class="footer">
  <div class="footer-titles">
    <span class="footer-title-1">homemade ice cream made</span>
    <span class="footer-title-2"> with passion</span>
  </div>
  <div class="section-t">
    <div class="social-icons">
      <a href="https://github.com/">
        <svg class="social-icon">
          <use href="./images/Icons/symbol-defs.svg#icon-github"></use>
        </svg>
      </a>
      <a href="https://facebook.com">
        <svg class="social-icon">
          <use href="./images/Icons/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
      <a href="https://instagram.com">
        <svg class="social-icon">
          <use href="./images/Icons/symbol-defs.svg#icon-telegram"></use>
        </svg>
      </a>
    </div>
    <div class="phone-number">
      <span>Feel free to contact </span>
      <a href="tel: +61 (0) 383 766 284"> +61 (0) 383 766 284</a>
    </div>
  </div>
  <div class="line-footer">
    <svg>
      <use href="./images/Icons/symbol-defs.svg#icon-line"></use>
    </svg>
  </div>
  <div class="all-rights">
    <span>© 2022 - IceCream. </span>
    <span>All Rights Reserved. </span>
  </div>
</footer>
