<header id="header">
         <div class="js-menu-container">
    <button class="menu-toggle js-close-menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="currentcolor"
      >
        <path d="M1.25925 1L14.7407 15" stroke="currentcolor" />
        <path d="M1 14.7407L15 1.25924" stroke="currentcolor" />
      </svg>
    </button>
    <div class="menu-mobile">
      <div class="btn-mobile-inside-menu">
        <button class="button-header-inside data-modal-open7 "
          >Buy now
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="7"
            height="10"
            viewBox="0 0 7 10"
            fill="none"
          >
            <path
              d="M1.03772 1L5.71697 5L1.03772 9"
              stroke="#D41443"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        
      </div>
      <ul class="nav-menu-mobile">
        <li><a href="#header" class="link" href="#header">Home</a></li>
        <li><a href="#reviews" class="link" href="#gallery1">About us</a></li>
        <li><a href="#about" class="link" href="#How" >How it’s made?</a></li>
        <li><a href="#products" class="link" href="#products">Our products</a></li>
        <li class="second-link" ><a href="#contacts" class="link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>
    <div class="container-hero">
        <div class="upper-header">
            <div class="logo-container">
                <a href="#top" class="logo-header">
                    <svg width="199" height="50" viewBox="0 0 127 32" class="logo">
                        <use href="./images/hero-section/header.svg#icon-logo"></use>
                    </svg>
                </a>
            </div>
            <nav>
                <ul class="nav-list">
                    <li class="header-nav-item"><a class="header-link header-link-color" href="#header">Home</a>
                    </li>
                    <li class="header-nav-item"><a class="header-link" href="#gallery1">About us</a></li>
                    <li class="header-nav-item"><a class="header-link" href="#How">How it’s made?</a></li>
                    <li class="header-nav-item"><a class="header-link" href="#products">Our products</a></li>
                    <li class="header-nav-item"><a class="header-link" href="#contact-sec">Contact</a></li>
                </ul>
            </nav>
            <div class="header-buttons">
               <button
          class="menu-button js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="14"
            viewBox="0 0 20 14"
            fill="none"
          >
            <path d="M0 1H20" stroke="#D41443" />
            <path d="M0 7H20" stroke="#D41443" />
            <path d="M0 13H20" stroke="#D41443" />
          </svg>
        </button>
                
                <button class="button-header openModalBtn" type="button" data-modal-open>Buy now
                     <svg
            xmlns="http://www.w3.org/2000/svg"
            width="7"
            height="10"
            viewBox="0 0 7 10"
            fill="none"
          >
            <path
              d="M1.03772 1L5.71697 5L1.03772 9"
              stroke="#D41443"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
                </button>
                <div class=" modal is-visible is-hidden" data-modal>
                    <button class="button-close closeModalBtn" data-modal-close></button>
                    <!--De adaugat meniul pt tableta si telefon-->
                    <form >
      <div class="modal-content">
        <button class="modal-close-button" data-modal-close>
          <svg class="modal-close-icon">
            <use href="./images/modal-header/symbol-defs.svg#icon-close-button-symbol"></use>
          </svg>
        </button>
        <div class="modal-form">
          <form id="for">
            <div class="modal-header">
              <h2>Our ice-cream will keep you COOL. Just choose some!</h2>
            </div>

            <div class="order-section">
              <div class="product">
                <img
                  src="./images/modal-header/ice-cream-1.png"
                  alt="Ice Cream"
                />
                <div class="order-amount">
                  <label for="quantity"></label>
                  <input
                  
                  />
                </div>
              </div>
              <div class="product">
                <img
                  src="./images/modal-header/ice-cream-2.png"
                  alt="Ice Coffee"
                />
                <div class="order-amount">
                  <label for="quantity"></label>
                  <input
                    
                  />
                </div>
              </div>
              <div class="product">
                <img
                  src="./images/modal-header/ice-cream-3.png"
                  alt="Milkshake"
                />
                <div class="order-amount">
                  <label for="quantity"></label>
                  <input
                    
                  />
                </div>
              </div>
            </div>

            <div class="form">
              <label class="form-label" >Name</label>
              <div class="form-field">
                <input type="text" class="input-field" id="Name" />
              </div>
            </div>

            <div class="form">
              <label class="form-label" >Telephone</label>
              <div class="form-field">
                <input type="tel"  class="input-field" id="Telephone"/>
              </div>
            </div>

            <div class="form">
              <label class="form-label" >E-mail</label>
              <div class="form-field">
                <input
                  type="email"
                  id="E-mail"
                  class="input-field"
                  
                />
              </div>
            </div>

            <div class="textarea">
              <label class="form-label" >Comments</label>
              <textarea
                id="comments"
                cols="20"
                rows="5"
               
                placeholder="Write your impressions and maybe we'll even read them."
              ></textarea>
            </div>
            <button class="modal-send-button" type="submit">Send</button>
          </form>
        </div>
      </div>
    </form>

 
                </div>
            </div>
        </div>
        <picture>
            <!--Desktop-->
            <source media="(min-width: 1200px)"
                srcset="./images/hero-section/desktop/ice-cream-x1.png, ./images/hero-section/desktop/ice-cream-x2.png"
                type="image/png">
            <!--Tablet-->
            <source media="(min-width: 768px)"
                srcset="./images/hero-section/tablet/ice-cream-t-x1.png, ./images/hero-section/tablet/ice-cream-t-x2.png"
                type="image/png">
            <!--Mobile-->
            <source
                srcset="./images/hero-section/mobile/ice-cream-m-x1.png, ./images/hero-section/mobile/ice-cream-m-x2.png"
                type="image/png">
            <img src="./images/hero-section/mobile/ice-cream-m-x1.png" alt="ice-cream" class="image-ice-cream">
        </picture>
        <picture>
            <!--Desktop-->
            <source media="(min-width: 1200px)"
                srcset="./images/hero-section/desktop/girl-with-ice-cream-x1.png, ./images/hero-section/desktop/girl-with-ice-cream-x2.png"
                type="image/png">
            <!--Tablet-->
            <source media="(min-width: 768px)"
                srcset="./images/hero-section/tablet/girl-with-ice-cream-t-x1.png, ./images/hero-section/tablet/girl-with-ice-cream-t-x2.png"
                type="image/png">
            <img src="./images/hero-section/tablet/girl-with-ice-cream-t-x1.png" alt="ice-cream"
                class="image-ice-cream-2">
        </picture>
        <div class="caption">
            <div>
                <h1 class="title">ice cream <br> made with <br><span class="title-color">passion</span></h1>
                <div class="buttons-list">
                    <button type="button" class="button-one"><a class="button-one-link"
                            href="#products">Products</a></button>
                    <button type="button" class="button-two"> <a class="button-two-link" href="#how-it's-made">How
                            it’s made?</a></button>
                </div>
            </div>
            <div class="sale-points">
                <ul class="sale-points-list">
                    <li class="sale-points-item">16<span class="sale-points-color">cafes</span></li>
                    <li class="sale-points-item">23<span class="sale-points-color">food trucks</span></li>
                </ul>
            </div>
        </div>
        <div class="milk">
            <picture>
                <!--Desktop-->
                <source media="(min-width: 1200px)"
                    srcset="./images/hero-section/desktop/milk-x1.png, ./images/hero-section/desktop/milk-x2.png"
                    type="image/png">
                <!--Tablet-->
                <source media="(min-width: 768px)"
                    srcset="./images/hero-section/tablet/milk-t-x1.png, ./images/hero-section/tablet/milk-t-x2.png"
                    type="image/png">

                <img src="./images/hero-section/tablet/milk-t-x1.png" alt="milk" class="image-milk">
            </picture>
            <div class="description-product-container">
                <p class="description-product">Indulge in a scoop of ice cream made with passion and treat your
                    taste
                    buds to an unforgettable experience!</p>
                <button type="button" class="button-product">
                    <svg class="arrow-right" height="25" width="25" viewBox="0 0 32 32">
                        <use href="./images/hero-section/header.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
<!--<script src="/src/modal.js"></script>-->