<section>
  <div class="main-titles">
    <center>
      <h2>TRADITION AND LOVE</h2>
      <h1>HOW IT'S MADE?</h1>
    </center>
  </div>

  <div class="poza-vacuta">
    <img
      class="poza-desktop"
      src="./images/how-its-made-section/home-pic4 1.png"
      alt="poza-vacuta"
    />
    <img
      class="tablet-cow"
      src="./images/how-its-made-section/home-pic4 1 (1).png"
      alt=""
    />
    <img
      class="mobile-cow"
      src="./images/how-its-made-section/home-pic4 1 (2).png"
      alt=""
    />
  </div>
  <div class="side-texts">
    <div class="side-text1">
      <p>
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
    </div>
    <div class="side-text2">
      <p>
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
    </div>
    <button class="read-btn">Read more <span>></span></button>
  </div>

  <div class="ice-apple-heart">
    <div class="ice">
      <img
        class="rotating"
        src="./images/how-its-made-section/Frame 4.png"
        alt=""
      />
      <h2>721</h2>
      <p>
        At 721 Cow, we're passionate about producing the highest quality ice
        cream possible.
      </p>
    </div>
    <div class="apple">
      <img
        class="rotating"
        src="./images/how-its-made-section/apples-svgrepo-com 1.png"
        alt=""
      />
      <h2>16kg</h2>
      <p>
        You can be sure you're getting a scoop of the freshest ice cream around.
      </p>
    </div>
    <div class="heart">
      <img
        class="rotating"
        src="./images/how-its-made-section/Group.png"
        alt=""
      />

      <h2>84</h2>
      <p>
        We use only the freshest, locally-sourced ingredients to make our 84
        unique and delicious flavors.
      </p>
    </div>
  </div>
</section>
