<div class="modal is-hidden" data-modal>
  <div class="modal-content">
    <button class="close-btn" data-modal-close>
      <svg class="icon-modal-close">
        <use href="./images/icons/symbol-defs.svg#icon-close-black"></use>
      </svg>
    </button>
    <form class="form">
      <div class="form-title">
        <span>Leave your information and we'll call you back</span>
      </div>
      <div class="form-modal">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="input-container" />
      </div>
      <div class="form-modal">
        <label for="phone">Number</label>
        <input type="tel" name="phone" id="phone" class="input-container" />
      </div>
      <div class="form-modal">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" class="input-container" />
      </div>
      <div class="form-modal coments">
        <label for="comentarii">a few words, my darling</label>
        <textarea
          id="comentarii"
          name="comentarii"
          placeholder="Write here..."
          class="input-container"
        ></textarea>
      </div>
      <button type="submit" class="submit-button">Send</button>
    </form>
  </div>
</div>
