<div class="backdrop2 is-hidden2" data-modal2>
  <div class="modal3">
  
      <div class="modal3-content " >
        <button class="modal3-close-button" data-modal-close2>
          <svg class="mobile-menu-icon">
            <use href="./images/symbol-defs2.svg#icon-close-button-symbol"></use>
          </svg>
        </button>
        <div class="modal3-footer-form">
          <form>
            <div class="modal3-footer">
              <h2>You'll find ICE here</h2>
            </div>
            <div class="google-map">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24160.50277619309!2d-73.95568042368234!3d40.80461272259895!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f611fdf28051%3A0x8a4548defb0528de!2sSugar%20Hill%20Creamery!5e0!3m2!1sen!2sus!4v1692539032918!5m2!1sen!2sus"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
            <div class="modal3-footer">
              <h3>184 Malcolm X Blvd, New York, NY 10026, United States</h3>
            </div>
            <button class="modal3-send-button" type="submit">
              Open in Google Maps
            </button>
          </form>
        </div>
      </div>
    </div>
</div>