<div class="products-title">
    <h2>100% Natural</h2>
    <h1>PRODUCTS</h1>
  </div>
  <div class="products">
    <div class="products-card">
      <img class="icecream-img" src="./images/products/home-pic1.png" alt="" />
      <div class="products-card-details" id="card1">
        <div class="products-card-details-content">
          <h2>ICE CREAM</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="6"
            viewBox="0 0 25 6"
            fill="none"
          >
            <ellipse cx="12.4179" cy="3" rx="2.86567" ry="3" fill="white" />
            <ellipse cx="2.86567" cy="3" rx="2.86567" ry="3" fill="white" />
            <ellipse cx="21.9702" cy="3" rx="2.86567" ry="3" fill="white" />
          </svg>
          <p>
            Indulge in our rich and creamy ice cream, handcrafted with
            all-natural ingredients and available in a variety of flavors.
          </p>
          <button><img src="./images/products/arrow-right 4.png" alt="" /></button>
        </div>
      </div>
    </div>
    <div class="products-card">
      <img class="icecream-img" src="./images/products/home-pic2.png" alt="" />
      <div class="products-card-details" id="card2">
        <div class="products-card-details-content">
          <h2>ICE COFFEE</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="6"
            viewBox="0 0 25 6"
            fill="none"
          >
            <ellipse cx="12.4179" cy="3" rx="2.86567" ry="3" fill="white" />
            <ellipse cx="2.86567" cy="3" rx="2.86567" ry="3" fill="white" />
            <ellipse cx="21.9702" cy="3" rx="2.86567" ry="3" fill="white" />
          </svg>
          <p>
            Refresh and energize with our perfectly brewed iced coffee, made
            with high-quality beans and served over ice.
          </p>
          <button><img src="./images/products/arrow-right 4.png" alt="" /></button>
        </div>
      </div>
    </div>
    <div class="products-card">
      <img class="icecream-img" src="./images/products/home-pic3.png" alt="" />
      <div class="products-card-details" id="card3">
        <div class="products-card-details-content">
          <h2>MILKSHAKES</h2>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="6"
            viewBox="0 0 25 6"
            fill="none"
          >
            <ellipse cx="12.4179" cy="3" rx="2.86567" ry="3" fill="white" />
            <ellipse cx="2.86567" cy="3" rx="2.86567" ry="3" fill="white" />
            <ellipse cx="21.9702" cy="3" rx="2.86567" ry="3" fill="white" />
          </svg>
          <p>
            Satisfy your sweet tooth with our thick, made with premium ice
            cream, topped with whipped cream and your favorite toppings.
          </p>
          <button><img src="./images/products/arrow-right 4.png" alt="" /></button>
        </div>
      </div>
    </div>
  </div>