@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Titan+One&display=swap");
/* How it's made */
.how-its-made-title {
  background-color: #fff5f6;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 60px;
}
.how-its-made-title h2 {
  color: #ffa5ba;
  text-align: center;
  font-family: Titan One;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}
.how-its-made-title h1 {
  width: 200px;
  height: 76px;
  color: #d41443;
  text-align: center;
  font-family: Titan One;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}

.how-its-made {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff5f6;
}
.how-its-made h2 {
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  line-height: 162%; /* 19.44px */
  letter-spacing: 0.48px;
  width: 220px;
  height: 111px;
}
.how-its-made img {
  width: 280px;
  height: 279px;
}
.how-its-made-text {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding-left: 20px;
  padding-bottom: 40px;
}
.how-its-made-text p {
  width: 220px;
  height: 171px;
  color: #907e82;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 162%; /* 19.44px */
  letter-spacing: 0.48px;
}
.how-its-made-text button {
  width: 176px;
  height: 44px;
  border-radius: 22px;
  background: #fff;
  border: none;
  color: #d41443;
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.how-its-made-text button:hover {
  background: #ecebeb;
}

.ingredients {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  background-color: #fff5f6;
  padding-bottom: 114px;
}

.ingredients-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 20px;
}

.ingredients-content h2 {
  color: #d41443;
  font-family: Titan One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
}
.ingredients-content p {
  width: 280px;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 170%; /* 20.4px */
  letter-spacing: 0.24px;
}
@media screen and (min-width: 768px) {
  .how-its-made-title h2 {
    font-size: 26px;
    letter-spacing: 1.92px;
  }
  .how-its-made-title h1 {
    width: 100%;
    font-size: 48px;
    letter-spacing: 1.92px;
  }
  .how-its-made {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    gap: 32px;
  }
  .how-its-made-text {
    gap: 32px;
  }
  .how-its-made img {
    width: 336px;
    height: 335px;
  }
  .how-its-made-text h2 {
    width: 334px;
    height: 95px;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0.56px;
  }
  .how-its-made-text p {
    width: 334px;
    height: 155px;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.56px;
  }
  .ingredients {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .ingredients-content h2 {
    font-size: 48px;
    letter-spacing: 1.92px;
  }
  .ingredients-content p {
    width: 165px;
    height: 113px;
    font-size: 14px;
    line-height: 174%; /* 24.36px */
    letter-spacing: 0.28px;
  }
}

@media screen and (min-width: 1200px) {
  .how-its-made-title h2 {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
  .how-its-made-title h1 {
    font-size: 58px;
    letter-spacing: 3.48px;
  }
  .how-its-made {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 90px;
    background-image: url(../images/how-its-made/sectionbg1.png);
    background-size: cover
  }
  .how-its-made img {
    width: 501px;
    height: 501px;
  }
  .how-its-made-text h2 {
    width: 400px;
    height: 104px;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.64px;
  }
  .how-its-made-text p {
    width: 401px;
    height: 130px;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.56px;
  }
  .ingredients {
    display: flex;
    justify-content: flex-start;
    gap: 115px;
  }
  .ingredients-content h2 {
    font-size: 58px;
    letter-spacing: 2.32px;
  }
  .ingredients-content p {
    width: 288px;
    height: 79px;
    font-size: 16px;
    line-height: 176%; /* 28.16px */
    letter-spacing: 0.32px;
  }
}
