


/* Modal Our Location */

:root {
  --main-color: #d41443;
  --white-color: #ffffff;
  --background-color: #ffb8ca;
}

.modal3 {
  position: fixed;
  background-color: rgb(255, 245, 246, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.modal3-content {
  padding: 0;
  background-color: var(--background-color);
  width: 60%;
  height: auto;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.modal3-footer-form {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 50px;
  gap: 15px;
}

.modal3-footer h2 {
  color: var(--main-color);
  text-align: center;
  font-family: Titan One, sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin: 0;
}

.modal3-footer h3 {
  color: var(--main-color);
  text-align: center;
  font-family: DM Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.6px;
  margin: 0;
}

.google-map {
  border: 3px solid var(--main-color);
  width: 100%;
  height: auto;
}

.google-map iframe {
  width: 100%;
}

.modal3-footer-form .modal-send-button {
  width: 80%;
  height: auto;
  cursor: pointer;
  border: 4px solid var(--main-color);
  border-radius: 15px;
  background-color: transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: var(--main-color);
  text-align: center;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.96px;
  align-self: center;
}

.is-hidden2 {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-in-out;
  transform: scale(0.8);
}

.modal3-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  position: absolute;
  background-color: transparent;
  border: 4px solid var(--main-color);
  border-radius: 50%;
  right: 10px;
  top: 10px;
}

.mobile3-menu-icon {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
}

@media screen and (max-width: 480px) {
  .modal3-footer-form {
    padding: 40px 5px;
  }

  .modal3-footer h2 {
    font-size: 20px;
  }

  .modal3-footer h3 {
    font-size: 16px;
  }

  .modal3-footer-form .modal3-send-button {
    font-size: 12px;
  }

  .modal3-close-button {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .modal3-footer-form {
    padding: 40px 15px;
  }

  .modal3-footer h2 {
    font-size: 22px;
  }

  .modal3-footer h3 {
    font-size: 18px;
  }

  .modal3-footer-form .modal-send-button {
    font-size: 14px;
  }

  .modal3-close-button {
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .modal3-footer-form {
    padding: 40px 20px;
  }

  .modal3-footer h2 {
    font-size: 24px;
  }

  .modal3-footer h3 {
    font-size: 20px;
  }

  .modal3-footer-form .modal-send-button {
    font-size: 16px;
  }

  .modal3-close-button {
    width: 35px;
    height: 35px;
  }
}
