    .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ,visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }

  .is-hidden-franchise  {
   visibility: hidden;
  opacity: 0;
  pointer-events: none;
transform: translate(-50%, -50%), scale(.4) rotate(-180deg);
   
}

.backdrop.is-hidden-franchise .modal2 {
    transform: translate(-50%, -50%) scale(.4) rotate(-180deg);
    opacity: 0;
}

.backdrop .modal2 {
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
}

   .modal2{
     transform: translate(-50%, -50%) scale(1) rotate(0deg);
    opacity: 1;
    display: flex;
    flex-direction: column;
        width: 90%;
    max-height:450px;
    padding: 35px 20px 20px;
    background-color: #ffa5ba;
    border-radius: 24px;
    max-width: 90%;
    transition: transform .25s cubic-bezier(.4,0,.2,1),opacity .25s cubic-bezier(.4,0,.2,1);
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 1px 3px #0000001f, 0 1px 1px #00000024, 0 2px 1px #0003;

   }

   .modal__btn{
      width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: 250ms cubic-bezier(.4,0,.2,1);
    border: 1px solid #0000001a;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
   }

   .modal__icon-close{
    fill: #d41443;
  
   }

   .modal__btn:hover .modal__icon-close,
   .modal__btn:focus .modal__icon-close{

    transform: scale(1.4);

   }

   .modal__title{
        text-align: center;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 16px;
    font-family: 'Titan One';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    display: block;
   }

   

   .modal-form2{
    width: 100%;
    max-height: 98vh
   }

   .modal-form__field{
   
    display: block;
        position: relative;
        margin-bottom: 5px;
        width: 100%;
   }

   .modal-form__label{
    font-family: 'DM Sans',sans-serif;
    letter-spacing: .01em;
    color: #fff;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    display: block;
   }

   .modal-form__input{
    width: 100%;
    height: 40px;
    letter-spacing: .04em;
    color: #d41443;
    border: 1px solid #21212133;
    border-radius: 15px;
    outline: #0000;
    margin: 0;
    padding-left: 42px;
    padding-right: 12px;
    font-family: 'DM Sans';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.52;
    transition: border-color .25s cubic-bezier(.4,0,.2,1);
    }

    .modal-form__text{
        color: #fff;
    }

    .modal-form__icon{
   position: absolute;
        top: 40%;
        left: 12px;

        fill: #D41443;

        transform: scale(1) translateY(30%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

   
   
   

    .modal-form__comment {
     width: 100%;
        padding: 12px 16px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 15px;

        color: #D41443;

        outline: transparent;

        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    }

    .modal-form__comment:focus,
    .modal-form__input:focus{
        border-color: #D41443;
    }

    .modal-form__comment::placeholder{
        font-weight: 400;
        font-size: 12px;
    }


    .modal-form__textarea{
   
    color: #000;
    display: block;
    resize: none;
    margin: 0;
    padding: 0;
    letter-spacing: .04em;
    font-family: 'DM Sans',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.785;
     margin-bottom: 20px;
     width: 100%;
    
    }

    .modal-form__policy-group{
            flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    
    }

    .modal-form__checkbox{
        --webkit-appearence: none;
        appearance: none
        
    }

    .modal-form_checkbox-description {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;

        color: #FFFFFF;
    }


    .modal-form__custom-checkbox {
        
  width: 16px;
    height: 15px;
    background-color: #fff;
    border: 2px solid #d41443;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
    transition: background-color .25s cubic-bezier(.4,0,.2,1),border-color .25s cubic-bezier(.4,0,.2,1);
    display: flex;
}




.modal-form__custom-checkbox-icon {
    
    transition: opacity .25s cubic-bezier(.4,0,.2,1);
}

.modal-form__checkbox:checked, 
.modal-form__custom-checkbox, 
.modal-form__custom-checkbox-icon {
    opacity: 1;
}

.modal-form__checkbox:checked,
.modal-form__custom-checkbox{
    background-color: #d41443;
    border-color: #d41443;
}

 

    .modal-form__checkbox {
        -webkit-appearence: none;
        -moz-appearance: none;

        appearance: none
    }


.modal-form__checkbox-description{
    letter-spacing: .04em;
    color: #fff;
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.17;
}


.modal-form__policy{
    color: #d41443;
}

.modal-form__btn{
        width: 200px;
    height: 50px;
    text-align: center;
    letter-spacing: .06em;
    color: #d41443;
    cursor: pointer;
    background: #fff;
    border-radius: 24px;
    align-items: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.31;
    transition: background-color .25s cubic-bezier(.4,0,.2,1),color .25s cubic-bezier(.4,0,.2,1),transform .25s cubic-bezier(.4,0,.2,1);
    transform: scale(1);
    box-shadow: 0 4px 4px #00000026;
}

.modal-form__btn--send{
    display: block;
            margin-left: auto;
            margin-right: auto;
}

   .modal-form__btn:focus, 
   .modal-form__btn:hover {
    color: #fff;
    background-color: #d41443;
    transform: scale(1.1);
}


textarea{
resize: none;
    outline: transparent;
}
@media screen and ( max-width: 767px) {
    .modal2 {
    width: 100%;
    max-width: 400px;
    max-height: 98vh;
    padding: 30px;
}
    .modal-form__input{
    width: 100%;
    height: 40px;
    letter-spacing: .04em;
    color: #d41443;
    color: #d41443;
    border: 1px solid #21212133;
    border-radius: 15px;
    outline: #0000;
    margin: 0;
    padding-left: 42px;
    padding-right: 12px;
    font-family: 'DM Sans';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.52;
    transition: border-color .25s cubic-bezier(.4,0,.2,1);
}
    .modal-form2__title{
          margin-bottom: 5px;
        }
    .modal-form2__input--product{
        max-width: 240px;
            padding-left: 5px;
    }
    .modal-form__policy-group{
         margin-bottom: 20px;
    }
    }

@media screen and (min-width: 768px) and (max-width:1280px) {

    .modal2{
        width: 100%;
    max-width: 450px;
    max-height: 98vh;
    padding: 30px;

    }

}

@media screen and (min-width: 1281px) {
    .modal2{
    width: 100%;
    max-width: 450px;
    max-height: 98vh;
    padding: 30px;
    }
}